
/* index page  */
#logo-img{
    width: 10rem;
    height: 3rem;
}
nav{
    font-weight: bold;
    font-size: large;
    font-family: Opensans, sans-serif;
}

.carousel-inner .carousel-item img{
height: 70vh;
}

.indivisual-card:hover{
transform:scale(1.05);
text-decoration: underline;
cursor: pointer;;
transition-timing-function: ease-in-out;
transition-duration: 0.3s;
}


/* index blog section */

.index-single-blog a{
    text-decoration: none;

   }
   .index-single-blog:hover{
   transform: scale(1.04);
   text-decoration: underline;
   transition-duration: 0.3s;
   transition-timing-function: ease-in-out;

   }

/* footer */

.footer-section{
color:white;
background-color: #212529 ;
}

.footer-1 img{
    width: 10rem;
    height: 3rem;
}

.footer-1 ul li{
    list-style: none;
    padding-bottom: 3px;

}

.footer-1 ul li a{
text-decoration: none;
color: #d8d6d8;
}


.footer-1 ul li:hover{
    transform: scale(1.05);
   
}




footer h5{
    font-size: 1.2rem;
    color: #d8d6d8;
    font-weight: 700;
}

footer .copyright a{
    color: black;
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    line-height: 38px;
    transition: 0.6s ease;
    margin: 0 5px;
    text-align: center;

}

footer .copyright a:hover{
    color: white;
    background-color: greenyellow;
}

.copyright img{
 width: 10rem;
  height: 3rem;;
}


.navbar-toggler{
    background-color: white;
}

/* team contaner */



.team-main-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  
}


.indivisual-team-member{
    height: 15rem;
    width: 15rem;
    margin: 20px 20px;
   
    

    
}
.team-photo{
  
    border-radius: 50%;
}
.team-photo img{
    width: 15rem;
  height: 15rem;
   
    border-radius: 50%;
    background-size: cover;
}

.view-all-team{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-team a{
    text-decoration: none;
    text-align: center;
    font-size: large;
    color: black;
}

.view-all-team a:hover{
    color: blue;
}


/* team section when resolution goes below 600px */
@media screen and (max-width: 600px) {
    .team-main-div{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .indivisual-team-member{
      text-align: center;
      width: 100vw;
      height: 100%;
    }
}



/* blog main page  */
.main{
    background-color: white;
    padding: 1rem 1rem;
}

.recent-posts{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin-top: 2rem;
    
}

.recent-posts .card a:hover{
    opacity: 0.5;
    transition: opacity 0.3s;
    text-decoration: underline;
}

.recent-posts a{
    text-decoration: none;
    color: black;
}


.category-posts a{
text-decoration: none;
color:black;
}

.category-posts a:hover{
    opacity: .5;
    transition: opacity 0.3s;
    text-decoration: underline;
}

.post-img img{
   height:80%;
   width: 90%;
}


.single-blog-container{
    margin: 2rem 0rem;

}

.single-blog-container:hover{
    transform: scale(1.1);
    transition-duration: 0.9s;
}

.all-blog-container a{
    text-decoration: none;
}


.single-team-container{
    margin: 2rem 0rem;
    padding: 1rem 4rem;
  
}

.single-team-container:hover{
    transform: scale(1.05);
    transition-duration: 0.9s;
}

.all-team-container a{
    text-decoration: none;
}


/* Services Page */
 
.single-service-card{
margin: 1.3rem 0;
padding: 1rem 3rem;
}


.single-service-card:hover{
transform: scale(1.03);
transition-duration: 0.8s;
transition-timing-function: ease-in-out;
}


/* Contact Us Page  */

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.contact-info{
    padding-top: 4rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-blog-container{
    padding: 1rem 4rem;
}

.single-team-container .card .team-img img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.team-img{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* pagination of the blogs page */
svg{
    width: 20px; 
    height: auto;
}

.pagination a{
    text-decoration: none;
}

.pagination a:hover{
   color:rgb(78, 78, 145);
}

.blog-img{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.blog-img img{
width: 70%;
height: 30vh;

}

/* admin dashboard */

.edit-delete-btn{
    display: flex;
    justify-content: center;
}

